/* Estilos Universales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del body
RGB: combinación de colores primarios
R (rojo), G (verde), B (azul)
Rango: 0 - 255 */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #9d21f07c;
    padding: 20px;
}


h1 {
    display: table;
    color: rgb(255, 252, 252);
    background-color: rgb(191, 45, 228);
    font-size: 50px;
    text-align: center;
    margin: 50px auto;
    padding: 10px 20px;
    border-radius: 1cm;
}

img {
    display: block;
    width: 300px;
    height: 300px;
    margin: 10px auto;
}

div.lol{
    margin: 60px auto 0;
    text-align: center;
}

div.fixed-div {
    position: fixed;
    z-index: 10;
    text-align: center;
    font-size: 40px;
    top: 4%;
    width: 97%;
    background-color: rgba(191, 45, 228, 0.664);
}
